.generalContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

/* footer */

.line {
  width: 100%;
  background-color: black;
  height: 3px;
} 

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 0.5rem; 
}

.textFooter {
  display: flex;
  justify-content: center;
}

/* header */

.menuContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.navButton {
  border: 1px solid aqua;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 8px;
}

.titleButtons {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}